* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.main__table {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main__table-heading {
    display: flex;
    justify-content: space-between;
}
.main__table-content {
    display: flex;
    flex-direction: column;
}
.user-data-table {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
.user-data-table-content{
    display: flex;
    justify-content: space-between;
}
.table-user-info{
    display: flex;
    justify-content: center;
}
.table-user-info-list{
    display: flex;
    justify-content: center;
}
.main__table-content td {
    height: 3.8em;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-menu-dots-button {
    display: block;
}

.table-menu-dots-dropdown {
    /* visibility: hidden; */
    position: absolute;
    width: 160px;
    background-color: #555;
    color: rgb(201, 23, 23);
    text-align: center;
    border-radius: 6px;
    width: 300px;
    height: 100px;
}

.menu-dots-list {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #c6c2de;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 224px;

}


.table-menu-dots-dropdown button{
    color: brown;
}




.info-section {
    display: none;
  }
  
  .info-section.open {
    display: block;
  }
  